* {
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

.sign-in-box {
    display: block;
    text-align: left;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 5px 25px 5px 25px;
    margin: 100px auto 10px auto;
    width: 350px;
}

form {
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
}

label {
    font-size: 0.8em;
    color: rgb(93, 93, 93);
}

input {
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0;
}

.password-section {
    display: flex;
}

.password {
    margin-left: 30px;
    flex: 1;
}

.forgot-password {
    flex: 1;
    text-align: right;
    padding-right: 5px;
}

button {
    background-color: rgb(247, 197, 72);
    width: 100%;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 5px;
}

.blue-link {
    text-decoration: none;
    color: rgb(0, 150, 255)
}

.help {
    font-size: .8em;
    padding-left: 15px;
}

.new-to-Amazon {
    display: flex;
    justify-content: center;
    margin: -10px;
}

.new-decoration {
    border-bottom: 1px solid black;
    width: 375px;
    line-height: 0.05em;
    text-align: center;
}

.new-text {
    font-weight: normal;
    font-size: .8em;
    background: white;
    padding: 0 8px;
    color: rgb(118,118,118)
}

.create-account {
    display: flex;
    justify-content: center;
}

.create-amazon-account {
    text-align: center;
    width: 375px;
    border: 1px solid rgb(173,177,184);
    font-size: .8em;
    padding: 5px 0;
    background-color: rgb(231, 233, 236);
    margin-bottom: 50px;
}

.gray-link {
    color: black;
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.footer-link {
    font-size: 0.75em;
}

.amazon-copyright {
    text-align: center;
    font-size: 0.6em;
}